<!doctype html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	
</head>
<body>
	<div class="container">
		<h1>File Metadata Microservice</h1>
		<h3>Features</h3>
		<div class="well">
			<ul>
			    <li>Submit a FormData object that includes a file upload</li>
			    <li>When submitted, return the file size in bytes within the JSON response</li>
			</ul>
		</div>
		<h3>Usage</h3>
		<div class="well">
			<p>Select a file to upload and view its file size</p>
			<form action="/upload", method="post", enctype="multipart/form-data">
				<input type="file" name="file"><br>
				<input type="submit" value="Submit">
			</form>
		</div>
		
	    <footer class="text-center">
	  		<p>&copy; 2016 Ken Dulin - a FreeCodeCamp Back-end API project</p>
        </footer>
        <!-- Scripts -->
	</div>

</body>
</html>